@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap");
body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  font-family: 'Roboto', sans-serif !important;
}

/* colors root start */
:root {
  --main: #2B2730 !important;
  --second: #E966A0 !important;
  --third: #6554AF !important;
  --forth: #9575DE !important;
  --white: #ffffff !important;
}
/* colors start*/
.main-color {
  color: var(--main) !important;
}
.second-color {
  color: var(--second) !important;
}
.third-color {
  color: var(--third) !important;
}
.forth-color {
  color: var(--forth) !important;
}
.white-color {
  color: var(--white) !important;
}
/* colors end */

/* background color start */
.main-background {
  background-color: var(--main) !important;
}
.second-background {
  background-color: var(--second) !important;
}
.third-background {
  background-color: var(--third) !important;
}
.forth-background {
  background-color: var(--forth) !important;
}
.white-background {
  background-color: var(--white) !important;
}
/* background color end */

/* colors root end*/

/* tabs start */
.nav-item .nav-link.active{
  background-color: var(--second) !important;
  color: var(--white) !important;
  /* box-shadow: 0px 0px 15px 0px var(--scolor) !important; */
}
/* tabs end */